@charset "UTF-8";

.font{
    margin-top: 10px;
    margin-bottom: 0;
}

.font_2{
    margin-bottom: 5%;
    font-size: small;
    opacity: 0.8;

}

.row2{
    background: white;
    border-radius: 20px;
    box-shadow: 12px 12px 22px grey;
}

.img-fluid{
   height: 200px;
}


.btn:hover{
    background-color: lemonchiffon;
    color: black;
    font-weight: bold;
    

}


.btn-1{
    width: 100%;
    height: 50px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
}

.doiMatKhau:hover{
    
    text-decoration: underline;
}
.doiMatKhau{
   
    text-decoration: none;
}
