
   
    <div class="container">
        
        
                    <form name ="frmDmk">
                            <img src="asset/img/lock-solid.png" class="img-fluid offset-4 my-3"/>
                            <h1 class="fs-2  fw-bold  text-center font ">
                                ĐỔI MẬT KHẨU
                            </h1>
                            <h5 class="text-center font_2" >
                                Bạn có thể thay đổi mật khẩu của bạn tại đây
                            </h5>
                            
                                <div class=" offset-3 col-8" >
                                    <div class="input-group ">
                                    
                                    <span class="input-group-text" >
                                        
                                        <i class="fas fa-key" style="width:16px; height:16px;"></i>
                                    </span>
                                    <div class="form-floating col-8">

                                        <input type="text" name="txtOldpass" ng-model="oldpass" class="form-control "  placeholder="Nhập mật khẩu cũ" required minlength="5">
                                        <label for="password">Nhập mật khẩu cũ</label>
                                        
                                    </div>
                                    
                                    </div>
                                    <small ng-show="frmDmk.txtOldpass.$error.required" class="form-text text-danger">Vui lòng nhập tên đăng nhập</small>
                                    <small ng-show="frmDmk.txtOldpass.$error.minlength" class="form-text text-danger">Tên đăng nhập phải hơn  hoặc bằng 5 kí tự</small>
                                </div>
                            

                            
                                <div class="offset-3 col-8">
                                    <div class="input-group mt-3">
                                        <span class="input-group-text " >
                                            <i class="fas fa-unlock-alt " style="width:16px; height:16px;"> </i>
                                                            
                                        </span>
                                        <div class="form-floating col-8">

                                            <input type="password" name="txtNewPass" ng-model="newpassword" class="form-control " placeholder="Nhập mật khẩu mới" required minlength="8">
                                            <label for="password">Nhập mật khẩu mới</label>
    
                                        </div>
                                        
                                    </div>
                                    <small ng-show="frmDmk.txtNewPass.$error.required" class="form-text text-danger">Vui lòng nhập mật khẩu mới</small>
                                    <small ng-show="frmDmk.txtNewPass.$error.minlength" class="form-text text-danger">Mật khẩu mới phải lớn hơn  hoặc bằng 8 kí tự</small>
                                </div>
                               
                            
                            
                                <div class="offset-3 col-8">
                                    <div class="input-group mt-3">
                                        <span class="input-group-text" >
                                            <i class="fas fa-unlock " style="width:16px; height:16px;"> </i>
                                                            
                                        </span>
                                        
                                        <div class="form-floating col-8">

                                            <input type="password" name="txtRepass" ng-model="rePass" class="form-control " placeholder="Xác nhận  mật khẩu" required minlength="8">
                                            <label for="password">Xác nhận  mật khẩu</label>
    
                                        </div>
                                        
                                    </div>
                                    <small ng-show="frmDmk.txtRepass.$error.required" class="form-text text-danger">Vui lòng nhập xác nhận  mật khẩu </small>
                                        <small ng-show="frmDmk.txtRepass.$error.minlength" class="form-text text-danger">Mật khẩu mới phải lớn hơn hoặc bằng 8 kí tự</small>
                                </div>
                           

                            <div class="form-row ">

                                <div class="offset-3 col-6 mt-5">
                                    <button type="submit" ng-click="save()" class="btn btn-primary btn-1 align-center px-3 fs-5">
                                        Lưu thay đổi
                                    </button>
                                </div>
                            </div>
                           
                          
                    
                    </form>

    </div>
   

    
