
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-light">
                <span class="glyphicon glyphicon-th-list" style="margin: 5px;"></span>
                
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                </svg>
    <strong>Hộp thư góp ý</strong>
    <form name="frmGopy">
    <div class="col-12">
        <label for="inputhoten" class="form-label">Họ Tên</label>
        <input ng-model="gopy.fullname" type="text" class="form-control"  name="hoten" id="inputhoten" required>
      </div>
      <div class="col-12">
        <label for="inputEmail4" class="form-label">Email</label>
        <input ng-model="gopy.email" type="email" class="form-control"  name="email" id="inputEmail4" required>
      </div>
      <div class="col-12">
        <label for="inputsdt" class="form-label">Số điện thoại</label>
        <input ng-model="gopy.sdt" type="text" pattern="\d{9,10}" class="form-control"  name="sdt" id="inputsdt" required>
      </div>
      <div class="col-12">
        <label for="inputtitle" class="form-label">Tiêu đề góp ý</label>
        <input ng-model="gopy.tieude" type="text" class="form-control"  name="title" id="inputtitle" required>
      </div>
      <div class="col-12">
        <label for="exampleFormControlTextarea1" class="form-label">Nội dung góp ý</label>
        <textarea ng-model="gopy.cmt" class="form-control" id="exampleFormControlTextarea1"    name="cmt" required></textarea>
      </div>
      <div style="margin-top: 10px" class="col-12 d-flex justify-content-center">
        <button type="submit" ng-click="submit(gopy)" class="btn btn-primary"  >GỞI THÔNG TIN</button>
      </div>
    </div>
  </form>
</div>
</div>
