
<div class="container-fluid">
    <h1 class="text-danger">Khóa học</h1>
    <p>Khóa học được thiết kế để các giảng viên có thể dạy học theo nhiều cách khác nhau. tùy thuộc vào mức độ sáng tạo của mình: video giảng bài, tài liệu kham thảo , các bài kiểm tra ở nhiều cấp độ khác nhau, nhiều hình thức khác nhau (tự luận,chấm bài trực tiếp, trắc nghiệm,...) </p>
    <p>Trong mỗi khóa học, Edu điều thiết kế các tính năng hỗ trợ người dùng tương tác tốt hơn như chức năng gửi thông báo tới học viên, khu vực trao đổi thảo luận chung cho khóa học và riêng cho từng bài học .Nhờ đó,Edu đem đến một môi trường học tập sôi động và có tính chia sẽ cao cho học sinh lẫn thầy cô.Mỗi lớp học không còn là 1 thầy - 40 trò nữa ,mỗi khóa học đều được thiết kếtheo mô hình "n thầy - m trợ giảng - p trò" sẽ tạo điều kiện tốt nhất cho mỗi khóa học.</p>
    <h1 class="text-danger">Phòng Thi Thử</h1>
    <p>Hình thức làm bài thi trực tuyến mag tính tương tắc cao với ngân hàng để thi thử miễn phí khổng lồ. Các đề thi được thiết kế dưới dạng phòng thi thử có đồng hồ tính giờ và thí sinh có thể biết được các đáp án và điểm số sau khi thi.</p>
</div>
