
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header bg-primary" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h4>FPT Polytechnic là gì?</h4>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>FPT Polytechnic</strong> thuộc Trường Đại học FPT chuyên đào tạo Hệ Cao đẳng thực hành theo quy định của Tổng cục dạy nghề.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header bg-primary" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h4>Hoàn thành khóa học của FPT Polytechnic sẽ được nhận bằng cấp gì?</h4>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              Sinh viên khi hoàn thành khóa học 7 học kỳ (2 năm 4 tháng không có nghỉ hè) của FPT Polytechnic Hệ cao đẳng thực
              hành sẽ nhận bằng Cao đẳng chính quy tập trung do Trường Đại học FPT cấp theo quy định của Tổng cục dạy nghề, Bộ
              Lao
              động thương binh và xã hội.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header bg-primary" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h4>Trường đào tạo theo phương pháp “project-based-training”, đó là gì vậy?</h4>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <p>“Project- based-training” hay “đào tạo theo dự án” là phương pháp đào tạo tiên tiến dựa trên thực tiễn. Theo đó,
                  sinh viên sẽ được biết mục đích học tập của mỗi môn học (case study), học kỳ (project) tại đầu môn học. Quá
                  trình
                  học tập là quá trình tìm tòi, học hỏi để giải quyết vấn đề. Phương pháp này khác với các phương pháp thụ động
                  tiếp
                  thu để cuối cùng mới biết mình sẽ giải quyết vấn đề gì. Phương pháp đào tạo theo dự án nhằm làm tăng tính trải
                  nghiệm dựa trên mô phỏng thực tế công việc.
              </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
          <h2 class="accordion-header bg-primary" id="heading4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
              <h4>Giáo trình, tài liệu học tập và phòng thực hành của trường được sử dụng như thế nào?</h4>
            </button>
          </h2>
          <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Sách giáo trình của trường được xây dựng dựa trên sự hợp tác với các nhà xuất bản uy tín như McGraw Hill,
                  Pearson,
                  Wiley… Sinh viên cần mua sách để học tập vào đầu mỗi học kỳ theo giá ưu đãi. Ngoài ra, các sách tham khảo sinh
                  viên
                  có thể đọc tại thư viện.
                  <br>
                  Trường có phòng máy thực hành để hỗ trợ học tập cho sinh viên theo giờ học chính khóa. Nếu phòng máy rảnh, sinh
                  viên
                  có thể đăng ký để sử dụng máy tính ngoài giờ hoàn toàn miễn phí.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header bg-primary" id="heading5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
              <h4>Sinh viên đang theo học Cao đẳng và Đại học khác có được ưu tiên miễn giảm gì không?</h4>
            </button>
          </h2>
          <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p> Theo phương châm là tạo điều kiện tối đa cho các sinh viên theo học và tạo cơ hội bình đẳng, không lãng phí thời
                  gian của người học, trường sẽ dựa trên kết quả học tập các môn tương đương để miễn giảm môn học, thời gian và
                  học
                  phí theo quy định chuyển đổi tín chỉ. Khi nhập học, bạn cần kèm theo hồ sơ bảng điểm và chứng nhận đã hoàn thành
                  các
                  môn tại cơ sở đào tạo trước.</p>
            </div>
          </div>
        </div>


    </div>
