
    <div class="container text-center">
        <!-- Map -->
        <h2> Cao Đẳng FPT Polytechnic Cần Thơ</h2>
        Trụ sở chính: Số 288 Đường Nguyễn Văn Linh, Hưng Lợi, Ninh Kiều, Cần Thơ 900000, Việt Nam<br> <br>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.8775441112434!2d105.75497671437081!3d10.02696277532161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a089d294a53693%3A0xf3d0fb7758da72d0!2zVHLGsOG7nW5nIGNhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYyBD4bqnbiBUaMah!5e0!3m2!1svi!2s!4v1641995526072!5m2!1svi!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        <!-- Content -->
        <h2 class="text-center">Một số phòng ban</h2>
        <div class="row">
            <div class="col-md-6" style="margin-top: 10px;">
                <div class="btn-group container-fluid">
                    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Công tác & Dịch vụ Sinh viên
                    </button>
                    <ul class="dropdown-menu text-center" style="min-width: 90%;">
                        <br> <i class="fas fa-hand-point-right"></i> DVSV:
                        dvsvpoly.ct@poly.edu.vn
                        <br> <i class="fas fa-hand-point-right"></i> CTSV:
                        nhatnm21@fe.edu.vn
                        <br> <i class="fas fa-hand-point-right"></i> Page:
                        facebook.com/CTSVPOLYCT
                        <hr>
                        <p>
                            <a onClick="javascript:window.open('mailto:dvsvpoly.ct@polt.edu.vn', 'my-window');event.preventDefault()"
                                href="mailto:dvsvpoly.ct@polt.edu.vn">
                                <button class="btn btn-primary">Liên hệ ngay</button>
                            </a>
                        </p>
                    </ul>
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 10px;">
                <div class="btn-group container-fluid">
                    <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Phòng Đào Tạo
                    </button>
                    <ul class="dropdown-menu text-center" style="min-width: 90%;">
                        <br> <i class="fas fa-hand-point-right" style="width:16px; height:16px;"></i> Lịch học, học lại:
                        Khoata17@fe.edu.vn
                        <br> <i class="fas fa-hand-point-right" style="width:16px; height:16px;"></i> Lịch thi, Điểm,
                        thi lại: cuongnq33@fe.edu.vn
                        <br> <i class="fas fa-hand-point-right" style="width:16px; height:16px;"></i> Chuyển ngành, Cơ
                        sở: nguyenpnx@fe.edu.vn
                        <hr>
                        <p>
                            <a
                                onClick="javascript:window.open('mailto:Khoata17@fe.edu.vn', 'my-window');event.preventDefault()"
                                href="mailto:Khoata17@fe.edu.vn"><button class="btn btn-primary">Liên hệ
                                    ngay</button>
                            </a>
                        </p>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin-top: 10px;">
                <div class="btn-group container-fluid">
                    <button class="btn btn-danger btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Phòng Hành chính - Thư viện - Tài vụ
                    </button>
                    <ul class="dropdown-menu text-center" style="min-width: 90%;">
                        <br> <i class="fas fa-hand-point-right" style="width:16px; height:16px;"></i> HC:
                        gianght9@fe.edu.vn
                        <br> <i class="fas fa-hand-point-right" style="width:16px; height:16px;"></i> Thư viện:
                        chautcm@fe.edu.vn
                        <br> <i class="fas fa-hand-point-right" style="width:16px; height:16px;"></i> Tài vụ:
                        thulta@fe.edu.vn
                        <hr>
                        <p><a
                                onClick="javascript:window.open('mailto:gianght9@fe.edu.vn', 'my-window');event.preventDefault()"
                                href="mailto:gianght9@fe.edu.vn"><button class="btn btn-primary">Liên hệ ngay</button>
                            </a>
                        </p>
                    </ul>
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 10px;">
                <div class="btn-group container-fluid">
                    <button class="btn btn-warning btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tổ phát triển
                    </button>
                    <ul class="dropdown-menu text-center" style="min-width: 90%;">
                        <br> <i class="fas fa-hand-point-right" style="width:16px; height:16px;"></i> Trưởng nhóm phát
                        triển: linhhcpc02479@fpt.edu.vn
                        <br> <i class="fas fa-hand-point-right" style="width:16px; height:16px;"></i> trưởng nhóm kĩ
                        thuật: khoatapc02674@fpt.edu.vn
                        <br> <i class="fas fa-hand-point-right" style="width:16px; height:16px;"></i> Nhóm thiết
                        kế: datltpc02551@fpt.edu.vn, thangnhpc02490@fpt.edu.vn
                        <hr>
                        <p>
                            <a
                                onClick="javascript:window.open('mailto:linhhcpc02479@fpt.edu.vn', 'my-window');event.preventDefault()"
                                href="mailto:linhhcpc02479@fpt.edu.vn"><button class="btn btn-primary">Liên hệ
                                    ngay</button> </a>
                        </p>
                    </ul>
                </div>
            </div>
        </div>

       
    </div>
