<!-- Bootstrap -->
<div class="container-fluid">
    <div class="row row-cols-auto justify-content-md-center" style="margin-top: 15px;">
        <div id="box" ng-repeat="p in products | limitTo: 4:begin" class="rol-md-6 rol-12 " style="margin-top: 10px;">
            <div class="card shadow-sm position-relative float-start">
                <div class="card-body">
                    <div id="image" class="text-center">
                        <a  href="#!quiz/{{p.Id}}/{{p.Name}}/{{p.Logo}}">
                            <img src="asset/img/{{p.Logo}}" class="card-img-top anh" alt="ảnh minh họa">
                        </a>
                    </div>
                    <div style="margin-top: 2rem;">
                        <h5 class="card-title text-truncate" style="margin: 0 15px; max-width: 18rem;">{{p.Name}}</h5>
                    </div>
                </div>
                <div class="card-footer bg-light">
                    <div class="d-flex justify-content-between align-items-center"
                        style="padding: 0 20px; margin-bottom: 10px;">
                        <span class="card-text d-flex align-items-center text-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-clock-fill" style="margin-right: 2px;" viewBox="0 0 16 16">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                            </svg>
                            15 phút
                        </span>
                        <p class="card-text" style="margin: 0 15px;">Cùng ôn tập ngay nào!</p>
                    </div>
                </div>
                <div class="banner position-absolute text-center">
                    <span>Nổi bật</span>
                </div>
            </div>
        </div>

        <!-- Button -->
        <div class="row text-center float-none" style="margin-top: 20px;">
            <ul class="d-flex justify-content-center">
                <li class="button_dh"><a href="" ng-click="first()">
                        <i class="fas fa-2x fa-step-backward mx-2"> </i>
                    </a></li>
                <li class="button_dh"><a href="" ng-click="prev()">
                        <i class="fas fa-2x fa-backward mx-2"> </i>
                    </a></li>
                <span class="float-end fs-4 fw-5">{{index}}/{{pageCount}}</span>
                <li class="button_dh"><a href="" ng-click="next()">
                        <i class="fas fa-2x fa-forward mx-2"> </i>
                    </a></li>
                <li class="button_dh"><a href="" ng-click="last()">
                        <i class="fas fa-2x fa-step-forward mx-2" view-box> </i>
                    </a></li>
            </ul>
        </div>

    </div>