
    <style>
        .title-header {
            border-width: 2px;
            border-style: solid;
            border-bottom: 0;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 21px;
        }

        .title-body {
            border-width: 2px;
            border-style: solid;
            border-top: 0;
            border-left: 0;
            border-right: 0;
        }
    </style>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col">
                <form class="row g-3 needs-validation" style="margin-top: 10px;" novalidate name="frmHS">
                    <div class="col-12 d-flex">
                        <div class="col-2 title-header">
                            <label for="validationCustomUsername" class="form-label fs-6 fw-bold">Chỉnh sửa</label>
                        </div>
                        <div class="col-10 title-body"></div>
                    </div>
                    <div class="col-12">
                        <!-- Button trigger modal -->
                        <button type="button" class="" style="background-color: white; border: 0;" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            <img src="asset/img/user.jpg" width="50px" alt="" class="border border-dark rounded-circle">
                        </button>

                        
                    <div class="col-md-6">
                        <label for="validationCustom01" class="form-label fw-bold text-dark">Họ và tên</label>
                        <input type="text" class="form-control" id="validationCustom01" ng-model="student.fullname" value="{{student.fullname}}" required name="txtFullname"
                        pattern="\D{2,}">
                        <small ng-show="frmHS.txtFullname.$error.required" class="form-text text-danger">Vui lòng nhập Họ và tên</small>
                        <small ng-show="frmHS.txtFullname.$error.pattern" class="form-text text-danger">Họ và tên phải là chữ và trên  hoặc bằng 2 kí tự</small>
                        <!-- <div class="valid-feedback">
                            Looks good!
                        </div> -->
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom02" class="form-label fw-bold text-dark">Tên đăng nhập</label>
                        <input type="text" class="form-control" id="validationCustom02" ng-model="student.username"  name="txtUsername" value="{{student.username}}"  required minlength="5">

                        <small ng-show="frmHS.txtUsername.$error.required" class="form-text text-danger">Vui lòng nhập tên đăng nhập</small>
                        <small ng-show="frmHS.txtUsername.$error.minlength" class="form-text text-danger">Tên đăng nhập phải hơn hoặc bằng5 kí tự</small>
                        <!-- <div class="valid-feedback">
                            Looks good!
                        </div> -->
                    </div>
                    <div class="col-12">
                        <label for="validationCustomUsername" class="form-label fw-bold text-dark">Email</label>
                        <input type="text" class="form-control" id="validationCustom05" ng-model="student.email" name="txtEmail" value="{{student.email}}"
                            required pattern="[a-z0-9]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                        
                            <small ng-show="frmHS.txtEmail.$error.required" class="form-text text-danger">Vui lòng nhập email</small>
                            <small ng-show="frmHS.txtEmail.$error.pattern" class="form-text text-danger">Vui lòng nhập đúng định dạng email</small>

                    </div>
                    <div class="col-12">
                        <label for="validationCustom03" class="form-label fw-bold text-dark">Ngày sinh</label>
                        <input type="datetime" class="form-control" id="validationCustom03" ng-model="student.birthday" value="{{student.birthday}}" required name="txtdate"
                        pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])">
                                                                
                                                                
                         <small ng-show="frmHS.txtdate.$error.required" class="form-text text-danger">Vui lòng nhập ngày tháng</small>
                        <small ng-show="frmHS.txtdate.$error.pattern" class="form-text text-danger">Ngày tháng không đúng với mẫu</small>
                        <!-- <div class="invalid-feedback">
                            Please provide a valid city.
                        </div> -->
                    </div>
                    <div class="col-12">
                        <label for="validationCustom04" class="form-label fw-bold text-dark">Học phí</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend">VND</span>
                            <input type="text" class="form-control" id="validationCustomUsername"
                                aria-describedby="inputGroupPrepend" ng-model="student.schoolfee" value="{{student.schoolfee}}" required>
                            <!-- <div class="invalid-feedback">
                                Please choose a username.
                            </div> -->
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="validationCustom05" class="form-label fw-bold text-dark">Giới tính: </label>
                        <input class="form-check-input" ng-model="student.gender" type="radio" name="GT" id="flexRadioDefault1"
                        value="true" required>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Nam
                        </label>
                        <input class="form-check-input"  ng-model="student.gender" type="radio" name="GT" id="flexRadioDefault2" value="false" required>
                        <label class="form-check-label" for="flexRadioDefault2" >
                            Nữ
                        </label>
                        <div>
                            <small ng-show="frmHS.GT.$error.required" class="form-text text-danger">Vui lòng chọn giới tính</small>
                        </div>
                        <!-- <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div> -->
                    </div>
                    <div class="col-12 mt-3">
                        <button class="btn btn-outline-primary me-3" ng-click="insert()" ng-disabled="frmHS.$invalid">Thêm mới</button>
                        <button class="btn btn-outline-success me-3"  ng-click="save()" ng-disabled="frmHS.$invalid">Lưu thay đổi</button>
                        <button class="btn btn-outline-danger me-3"  ng-click="delete()" ng-disabled="frmHS.$invalid">Xóa</button>
                        <button class="btn btn-outline-secondary me-3"  ng-click="reset()" ng-disabled="frmHS.$invalid">Reset</button>

                    </div>
                    
                </form>
                <div class="table-responsive  mt-2 ">
                <table class="table table-light table-striped ">
                    <tr class="table-primary">
                        <th>Họ và tên</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>Học phí</th>
                        <th></th>
                    </tr>
                    <!-- Sử dụng @ng-repeat để duyệt mảng students, mỗi sinh viên tạo một <tr> -->
                    <tr ng-repeat="st in students">
                        <td>{{st.fullname}}</td>
                        <td>{{st.birthday}}</td>
                        <td>{{(st.gender=="true"?"Nam":"Nữ")}}</td>
                        <td>{{st.schoolfee}}</td>
                        <td>
                            <!-- Gọi phương thức edit($index). $index là vị trị của phần tử student đang duyệt. -->
                            <a href="" style="text-decoration: none;" ng-click="edit($index)">Sửa</a>
                        </td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
    </div>

