.banner {
    top: 20px;
    left: -8px;
    width: 150px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding-right: 4px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: linear-gradient(to left, #f12711, #f5af19);
}

.banner::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    border-top: 7px solid currentColor;
    border-left: 8px solid transparent;
    filter: brightness(40%);
}

/* .banner_now { 
    top: 0;
    right: 0;
    width: 6rem;
    height: 6rem;
    text-align: center;
    background: linear-gradient(to bottom, #f12711, rgb(245, 175, 25));

}

.banner_now::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -28px;
    border-width: 0 3rem 1.8rem;
    border-style: solid;
    color: rgb(245, 175, 25);
    border-color: transparent currentColor transparent currentColor;
} */

#image {
    min-height: 25px;
    margin: 0 2.5%; 
    background: linear-gradient(to bottom, #005aa7, #fffde4);
}

svg {
    width: 24px;
    margin: 0 15px;
}

.button_dh {
    list-style: none;
}

#box {
    transition: 1;
}

#box:hover {
    transform: scale(1.1);
    z-index: 1;
}

#box .card {
    width: 27rem;
    height: 25rem; 
    /* margin-left: 10px; */
}

.anh {
    max-width: 300px;
    max-height: 250px;
}